.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin;
  height: 100px;
  width: 100px;
  border-radius:1000px;
  align-content: flex-start;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  padding: 20px;
  color: grey;
  border-bottom: grey groove thin;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
