.App {
  text-align: center;
}

.App-Img {
  background-image: url("../Images/circuit.jpg");
}

.App-logo {
  height: 100px;
  width: 100px;
  border-radius:100px;
  align-content: flex-start;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 150px;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  padding: 20px;
  padding-bottom: 0;
  color: black;
}

.App-body {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 70%;
  margin: 0 auto;
}

.App-footer {
  background: #38524f;
  color: lightgray;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}