body, html {
  height: 100%;
}
.App {
  text-align: center;
}

.App-Img {
    /*background: url("../Images/circuit.jpg") no-repeat fixed center ;*/
    /*background-size: cover;*/
    background-color: #0c5460;
    /*filter: sepia(1) hue-rotate(120deg);*/
    /*height: 100vh;*/

}

.App-logo {
  height: 100px;
  width: 100px;
  border-radius:100px;
  align-content: flex-start;
}

.App-header {
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
}

.App-body {

}

.App-footer {
  background: #38524f;
  color: lightgray;
}
.App-intro {
  font-size: large;
}