.Menus {
    display: flex;
    flex-grow: 4;
    justify-content: space-around;
    align-items: flex-end;
    color: #38524f;

}
div > .button-menus {
    background-color: transparent;
    cursor: default;
    flex-basis: auto;
    width: 33.33%;
    border: 0;
}