.Menus {
    display: flex;
    flex-grow: 4;
    justify-content: space-around;
    align-items: flex-end;
}
div > .button-menus {
    background-color: transparent;
    flex-basis: auto;
    color: gray;
    width: 33.33%;
    border: 0px;
}